// Roboto fonts locally hosted
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../webfonts/roboto-v18-latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
       url('../webfonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../webfonts/roboto-v18-latin/roboto-v18-latin-regular.woff2') format('woff2'),
       url('../webfonts/roboto-v18-latin/roboto-v18-latin-regular.woff') format('woff'),
       url('../webfonts/roboto-v18-latin/roboto-v18-latin-regular.ttf') format('truetype'),
}

h1 {
  position: relative;
  display: inline-block;
  @include linkHoverLeft(false);
}
