// You have to set the parent of paralax-video to position relative!

.parallax-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .9;
  overflow: hidden;

  &__vid {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
