.scroll-up-btn {
  &__container {
    position: fixed;
    bottom: .8rem;
    right: .8rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba($color-text-default, .9); // #EDEDED;
    border-radius: 42px;
    z-index: 4200;
    // cursor: pointer;
    opacity: .90;
    color: #EDEDED; // #545A57;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    transition: visibility .2s ease-out;
  }

  &__container:hover {
    opacity: 1;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
  }

  &__link, 
  &__link:link, 
  &__link:visited, 
  &__link:active, 
  &__link:hover {
    color: #EDEDED;

  }

  &__svg {
    top: 50%;
    width: 100%;
    position: relative;
    height: 100%;
    padding: .8rem;
    transform: translateY(-50%);

  }

}
  