.header {
  background-image: url('../img/fabian_fess_hero.jpg');
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  @include respond(small) {
  background-image: url("../img/fabian_fess_hero_1200.jpg");
  background-position: center;
  }
}
